<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://wwws.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--     <context:property-placeholder location="classpath:app.properties" /> -->

<!-- 	
     <sec:http use-expressions="true" auto-config="true" entry-point-ref="authEntryPoint">
     create-session="never" -> 확인필요
 -->
<!-- 	intercept-url과 비교 필요
-->
    <sec:http pattern="/auth/login.do" security="none"/>		 
	
	<sec:http use-expressions="true" auto-config="true">
		<sec:csrf disabled="true"/>
		
<!-- 		<sec:intercept-url pattern="/auth/login.do" access="hasRole('ROLE_ANONYMOUS')"/> -->
		
<!-- 		<sec:form-login login-page="/auth/login.do" default-target-url="/auth/main.do" authentication-failure-url="/auth/loginFail.do" always-use-default-target="false" -->
<!-- 		  				login-processing-url="/auth/loginProcess.do" username-parameter="username" password-parameter="password"/> -->

		<sec:form-login login-page="/auth/login.do" default-target-url="/auth/main.do" 
		                authentication-success-handler-ref="loginSucessHandler" authentication-failure-handler-ref="loginFailHandler"
		  				login-processing-url="/auth/loginProcess.do" username-parameter="username" password-parameter="password"/>

		<sec:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>

		<sec:logout logout-success-url="/auth/logout.do"/>
		
<!-- 		<sec:access-denied-handler error-page="/auth/loginFail.do"/> -->
		
	</sec:http>

	
	<sec:authentication-manager>
<!-- 		<sec:authentication-provider> -->
<!-- 			<sec:user-service> -->
<!-- 				<sec:user name="test" password="test" authorities="ROLE_USER"/> -->
<!-- 			</sec:user-service> -->
<!-- 		</sec:authentication-provider> -->

		<sec:authentication-provider user-service-ref="userService"/>
	</sec:authentication-manager>

	<bean id="loginSucessHandler" class="edu.showcase.system.security.LoginSucessHandler"/>

	<bean id="loginFailHandler" class="edu.showcase.system.security.LoginFailHandler"/>
	
	<bean id="authEntryPoint" class="edu.showcase.system.security.AuthentEntryPoint"/>
	
	<bean id="accessDenied" class="edu.showcase.system.security.DeniedHandler"/>
	
	<bean id="userService" class="edu.showcase.auth.service.UserService"/>

</beans>